* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0 auto;
  margin-top: 300px;
}

body > div {
  margin: 5% auto;
  max-width: 720px;
}

.tabs {
  position: relative;
  display: flex;
}

.tabs .tab-item {
  font-size: 30px;
  line-height: 30px;
  width: 25%;
  text-align: center;
  color: #c23564;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 15px 10px 15px 10px;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  z-index: 1;
  transition: all 0.5 ease;
}

.tabs .tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
  opacity: 1;
}

.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
  font-size: 20px;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 30px;
  margin-bottom: 16px;
}
